{{#header}}Conventions{{/header}}
<div class="container">
  <h1>Conventions</h1>
  <ul>
    {{#conventions}}
    <li><a href="/api/convention/{{id}}">{{name}}</a> {{from}}-{{to}}</li>
    {{/conventions}}
  </ul>
  <a href="/api/convention/new">Create a new convention</a>
</div>
{{>footer}}