{{#header}}{{name}}{{/header}}
<div class="container">
  <h1>{{name}}</h1>
  <h3>Between {{from}} and {{to}}</h3>
  <form method="POST" class="form-horizontal">
    {{{anti-forgery}}}
    <div class="form-group">
      <label class="col-md-1 control-label text-left" for="fromTime">Between</label>
      <div class="col-md-5">
        <input type="text" name="fromTime" class="form-control" data-scroll-default="9:00am" />
      </div>
      <label class="col-md-1 control-label text-left" for="toTime">and</label>
      <div class="col-md-5">
        <input type="text" name="toTime" class="form-control" data-scroll-default="12:00pm" />
      </div>
    </div>
  </form>
</div>
<script language="javascript">
$(function()
{
  $('input[name="fromTime"]').timepicker(
  {});
  $('input[name="toTime"]').timepicker(
  {});
});
</script>
{{>footer}}