{{#header}}Conventions{{/header}}
<div class="container">
  <h1>Conventions</h1>
  <ul>
    {{#conventions}}
    <li>{{name}} {{id}}</li>
    {{/conventions}}
  </ul>
  <a href="/convention/new">Create a new convention</a>
</div>
{{>footer}}