{{#header}}New Convention{{/header}}
<div class="container">
  <h1>New Convention</h1>
  <form method="POST" class="form-horizontal">
    <fieldset>
      {{{anti-forgery}}}
      <div class="form-group {{#errors.conventionName}}has-error{{/errors.conventionName}}">
        <label class="col-md-2 control-label text-left" for="conventionName">Convention name</label>
        <div class="col-md-10">
          <input id="conventionName" name="conventionName" type="text" placeholder="Convention name" class="form-control input-md" /> {{#errors.conventionName}}
          <label class="text-danger">{{.}}</label>{{/errors.conventionName}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label text-left" for="conventionName">Dates</label>
        <div class="col-md-10 ">
          <input type="text" name="daterange" class="form-control" />
        </div>
      </div>
      <div class="form-group ">
        <div class="col-sm-offset-2 col-md-4">
          <button id="action" value="newConvention" class="btn btn-primary">Create new</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<script language="javascript">
$(function()
{
  $('input[name="daterange"]').daterangepicker(
  {
    locale:
    {
      format: "DD/MM/YYYY"
    },
  });
});
</script>
{{>footer}}